[submodule "external/ansible-runner-scripts"]
	path = external/ansible-runner-scripts
	url = git@github.com:mtnsat/ansible-runner-scripts.git
[submodule "roles/senorsmile.ansible-seafile-client"]
	path = roles/senorsmile.ansible-seafile-client
	url = git@github.com:senorsmile/ansible-seafile-client-install.git
[submodule "roles/jdauphant.atom"]
	path = roles/jdauphant.atom
	url = https://github.com/jdauphant/ansible-role-atom.git
[submodule "roles/senorsmile.ipsec_l2tp"]
	path = roles/senorsmile.ipsec_l2tp
	url = git@github.com:senorsmile/ansible-role-ipsec_l2tp.git
