[submodule "external/ansible-runner-scripts"]
	path = external/ansible-runner-scripts
	url = git@github.com:mtnsat/ansible-runner-scripts.git
[submodule "roles/senorsmile.ansible-seafile-client"]
	path = roles/senorsmile.ansible-seafile-client
	url = git@github.com:senorsmile/ansible-seafile-client-install.git
[submodule "roles/jdauphant.atom"]
	path = roles/jdauphant.atom
	url = https://github.com/jdauphant/ansible-role-atom.git
[submodule "roles/senorsmile.ipsec_l2tp"]
	path = roles/senorsmile.ipsec_l2tp
	url = git@github.com:senorsmile/ansible-role-ipsec_l2tp.git
[submodule "roles/hubisan.virtualbox"]
	path = roles/hubisan.virtualbox
	url = https://github.com/hubisan/ansible-virtualbox.git
[submodule "roles/senorsmile.hubisan.virtualbox"]
	path = roles/senorsmile.hubisan.virtualbox
	url = git@github.com:senorsmile/ansible-virtualbox.git
[submodule "roles/jdauphant.vagrant"]
	path = roles/jdauphant.vagrant
	url = https://github.com/jdauphant/ansible-role-vagrant.git
[submodule "roles/awesome_screenful/files/repo"]
	path = roles/awesome_screenful/files/repo
	url = git@github.com:dluksza/screenful.git
[submodule "roles/oefenweb.packer_io"]
	path = roles/oefenweb.packer_io
	url = git@github.com:Oefenweb/ansible-packer-io.git
[submodule "roles/senorsmile.jdauphant.vagrant"]
	path = roles/senorsmile.jdauphant.vagrant
	url = git@github.com:senorsmile/ansible-role-vagrant.git
[submodule "senorsmile.geerlingguy.docker"]
	path = senorsmile.geerlingguy.docker
	url = git@github.com:senorsmile/ansible-role-docker.git
